@using CafePOS.ViewModels
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h4 class="mb-3">Change Password</h4>
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" readonly class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewConfirmPassword" class="form-label"></label>
                <input asp-for="NewConfirmPassword" class="form-control" />
                <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
            </div>
            <input value="Submit" type="submit" class="btn btn-primary w-100 p-2" />
            <div class="text-center mt-3">
                <a asp-controller="Account" asp-action="VerifyEmail" class="fw-bold">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}