@using CafePOS.ViewModels

@model LoginVeiwModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h4 class="text-center fw-bold mb-3">Login</h4>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" text-danger></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" text-danger></span>
            </div>
            <div class="float-end">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">
                    Forgot Password ?
                </a>
            </div>
            <div class="form-check mb-3">
                <lablel class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(a => a.RememberMe)
                </lablel>
            </div>
            <input type="submit" class="btn btn-success w-100 p-2" value="Login" />
            <p class="text-center mt-3">
                Don't have an account ?
                <a asp-controller="Account" asp-action="Register" class="ms-2 text-decoration-none">Register</a>
            </p> 
            <div class="text-center">
                <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}