<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CafePOS Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminPanel.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height: 100vh;">
            <div class="col-2 col-sm-3 col-xl-2 bg-dark transition-effect1" id="mainSidebar">
                <div class="sticky-top transition-effect1" id="mainSidebarItem">
                    <nav class="navbar bg-dark border-bottom border-white mb-3" data-ds-theme="dark">
                        <div class="container-fluid">
                            <a class="navbar-brand text-white" style="cursor:pointer">
                                <i class="bi bi-house-door side-icon"></i><span class="d-none d-md-inline ms-2 side-label">MM Cafe</span>
                            </a>
                        </div>
                    </nav>
                    <nav class="nav flex-column tansition-effect1" id="mainSidebarItem">
                        <a href="#" class="nav-link icon-link-hover text-white navbar-left-side-item">
                            <i class="bi bi-speedometer2 side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Dashboard Admin</span>
                        </a>
                        <a class="nav-link text-white navbar-left-side-item d-flex" data-bs-toggle="collapse" type="button" data-bs-target="#catCollapse"
                           role="button" aria-expanded="false" aria-controls="catCollapse" id="catCollapseBtn">
                            <div>
                                <i class="bi bi-grid side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Category</span>
                            </div>
                            <i class="ms-2 bi bi-chevron-right ms-auto" id="catChevronRight"></i>
                        </a>
                        <div class="collapse ps-sm-1 ps-md-3 ps-xl-3" id="catCollapse">
                            <a href="/admin/category/create" class="nav-link text-white navbar-left-side-item">
                                <i class="bi bi-grid"></i><span class="d-none d-md-inline ms-2 side-label">Create</span>
                            </a>
                            <a href="/admin/category/index" class="nav-link text-white navbar-left-side-item">
                                <i class="bi bi-grid side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Category List</span>
                            </a>
                        </div>
                        <a class="nav-link text-white navbar-left-side-item d-flex" data-bs-toggle="collapse" type="button" data-bs-target="#itemCollapse"
                           role="button" aria-expanded="false" aria-controls="itemCollapse" id="itemCollapseBtn">
                            <div>
                                <i class="bi bi-card-checklist side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Items</span>
                            </div>
                            <i class="ms-2 bi bi-chevron-right ms-auto" id="itemChevronRight"></i>
                        </a>
                        <div class="collapse ps-sm-1 ps-md-3 ps-xl-3" id="itemCollapse">
                            <a href="/admin/item/addEdit" class="nav-link text-white navbar-left-side-item">
                                <i class="bi bi-card-checklist"></i><span class="d-none d-md-inline ms-2 side-label">Item Create</span>
                            </a>
                            <a href="/admin/item/list" class="nav-link text-white navbar-left-side-item">
                                <i class="bi bi-card-checklist side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Item List</span>
                            </a>
                        </div>
                        <a href="/admin/cafe-tables/list" class="nav-link text-white navbar-left-side-item">
                            <i class="bi bi-bounding-box side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Tables</span>
                        </a>
                        <a href="" class="nav-link text-white navbar-left-side-item">
                            <i class="bi bi-person-circle side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Users</span>
                        </a>
                        <a href="#" class="nav-link text-white navbar-left-side-item">
                            <i class="bi bi-cash-coin side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Order</span>
                        </a>                        
                        <a href="#" class="nav-link text-white navbar-left-side-item">
                            <i class="bi bi-credit-card side-icon"></i><span class="d-none d-md-inline ms-2 side-label">Billing</span>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-10 col-sm-9 col-xl-10 p-0 m-0 transition-effect1" id="mainContent">
                <div class="sticky-top">
                    <nav class="navbar navbar-expand-lg navbar-light mb-3 shadow-sm header">
                        <div class="container-fluid ">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <div class="">
                                        <i class="bi bi-list fs-4 fw-bolder menu-icon rotate-reverse" id="menu-icon" style="cursor: pointer;"></i>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="bi bi-arrow-bar-right pe-1"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="px-3">
                    <div class="container-fluid">
                        <main role="main" class="">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/AdminPanel.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>    
   
    <script>
        $(".nav a").on("click", function () {
            $(".nav a").removeClass("active");
            $(this).addClass("active");
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
