@model Item
@{
    ViewBag.Title = "Delete Item";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="container">
    <div class="row border p-3">
        <div class="col-md-12 mb-5">
            <h4 class="text-decoration-underline">Item Delete</h4>
            <hr />
        </div>
        <div class="col-md-8">
            <p class="text-danger text-center fw-bold fs-5">Are you sure want to delete this Item ? </p>
            <form asp-action="Delete" method="post">
                <div class="mb-3">
                    <input asp-for="ItemId" type="hidden" />
                    <input asp-for="CategoryId" type="hidden" />
                </div>
                <div class="mb-3">
                    <label asp-for="ItemName" class="form-label"></label>
                    <input asp-for="ItemName" class="form-control" readonly />                    
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="StockQuantity" class="form-label"></label>
                    <input asp-for="StockQuantity" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label for="imageUpload" class="form-label">Image</label>
                    <div>
                        <img src="@Url.Content("~/images/"+ ViewData["ImageUrl"])" style="width:100px; height:100px" class="mt-2" />
                    </div>
                </div>                 
                <div class="mb-3">
                    <label asp-for="CreatedAt" class="form-label"></label>
                    <input asp-for="CreatedAt" class="form-control" readonly />
                </div>
                <div>
                    <button type="submit" class="btn btn-danger me-3">Delete</button>
                    <a asp-controller="Item" asp-action="Items" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>