@model IEnumerable<Category>

@{
    ViewBag.Title = "Category List";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div class="container">
    <div class="row border p-3 overflow-scroll">
        <div class="col-md-12">
            <h4>Category > Category List</h4>
            <hr class="mb-5" />
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="">
                    <a asp-controller="Category" asp-action="Create" class="d-block btn btn-info text-white float-end">Create Category</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Category category in Model)
                    {
                        <tr>
                            <td class="serialNum">.</td>
                            <td>@category.CatName</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@category.CategoryId" 
                                class="btn btn-sm btn-primary me-3">Edit</a>
                                <a asp-action="Delete" asp-route-id="@category.CategoryId"
                                class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>