@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
}

.header {
    background: #ffffffb5;
    backdrop-filter: blur(15px) contrast(130%);
    z-index: 1005;
}

.navbar-brand-font{
    font-size:19px;
}

.custom-navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-font {
    font-size: 16px;
}

.sidebar-icon {
    -webkit-text-stroke: 1px;
}
.nav a.active {
    background-color: #3d95e2;
}

.navbar-left-side-item {
    white-space: nowrap;
}

.navbar-left-side-item:hover {
    background-color: gray;    
    transition: 0.2s ease-in-out;
}

.circle {
    width: 120px;
    height: 120px;
    background-color: #3498db; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 768px) {
    .menu-icon {
        display: none;
    }

    #mainSidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*991px*/
@media screen and (max-width: 991px) {   
    #uiMainSidebar {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .navbar-brand-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
